# =====================================
# Node.js Dependencies
# =====================================
node_modules/

# =====================================
# Environment Variables
# =====================================
.env
.env.*
Server/.env
Frontend/my-react-app/.env

# =====================================
# Build Folders
# =====================================
dist/
build/

# =====================================
# Python
# =====================================
venv/
.venv/
__pycache__/
*.pyc

# =====================================
# VS Code / IDE
# =====================================
.vscode/
.idea/

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Vite Cache
# =====================================
.vite/

# =====================================
# ML Model
# =====================================
ML_Service/models/loan_eligibility_pipeline.joblib